.hero-section{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* VIDEO */
.hero-video{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index:-2;
}

/* OVERLAY */
.hero-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.4);
  z-index:-1;
}

/* CONTAINER */
.hero-container{
  width:100%;
  max-width:1300px;
  margin:auto;
  padding:20px;
  display:flex;
  align-items:center;
}

/* LEFT CONTENT */
.hero-left{
  flex:1;
  color:white;
}

.hero-left h1{
  font-size:70px;
  line-height:80px;
  color:#132976;
  font-weight:300;
}

.hero-left p{
  font-size:22px;
  color:#fff;
  margin-top:20px;
}

.hero-btn{
  margin-top:25px;
  padding:12px 25px;
  background:#19369D;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

/* RIGHT SIDE */
.hero-right{
  flex:1;
}

/* TABLET */
@media (max-width:1024px){

.hero-left h1{
  font-size:50px;
  line-height:60px;
}

.hero-left p{
  font-size:18px;
}

}

/* MOBILE */
@media (max-width:768px){
.hero_text h1{
  padding:0 10px;
  line-height: 30px !important;
    font-size: 26px !important;
}
.hero-container{
  flex-direction:column;
  text-align:center;
}

.hero-left h1{
  font-size:36px;
  line-height:45px;
}

.hero-left p{
  font-size:16px;
}

.hero-right{
  display:none;
}

}
@media only screen and (max-width: 768px) {
.hero_text h1{
  padding:0 10px;
  line-height: 30px !important;
    font-size: 26px !important;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
.hero_text h1{
  padding:0 10px;
  line-height: 30px !important;
    font-size: 26px !important;
}
}
 